MAX_PDF_SIZE_BYTES=10485760

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=usuario
DB_PASSWORD=senha
DB_NAME=banco_de_dados

KAFKA_BROKERS=localhost:9092,localhost:9094
KAFKA_CLIENT_ID=document-service
KAFKA_DOCUMENT_TOPIC=document.extracted.v1
KAFKA_LOG_RETENTION_MS=604800000
KAFKA_LOG_RETENTION_BYTES=1073741824
KAFKA_LOG_SEGMENT_MS=86400000
